@import '~node_modules/modern-normalize/modern-normalize.css';
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #3c322d;
  margin: 0;
  background-image: linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
  }
}

body.noscroll {
  overflow: hidden;
}

main {
  background-image: url("../images/donuts-bg-mobile.png");
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  main {
    background-image: url("../images/donuts-bg-mobile@2x.png");
  }
}
@media screen and (min-width: 768px) {
  main {
    background-image: url("../images/donuts-bg-desktop.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  main {
    background-image: url("../images/donuts-bg-desktop@2x.png");
  }
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.section {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 100px;
  }
}

.container {
  width: 100%;
  max-width: 320px;
  padding-inline: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding-inline: 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-inline: 16px;
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(243, 132, 139, 0.3254901961);
  border: 1px solid rgba(234, 116, 124, 0.568627451);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(243, 132, 139, 0.6705882353);
}

.header {
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .header__container {
    display: flex;
    align-items: center;
    padding: 36px 16px;
  }
}
.header__link-logo {
  position: relative;
  z-index: 2;
}
.header__svg-logo {
  width: 106px;
  height: 46px;
}
@media screen and (min-width: 1280px) {
  .header__svg-logo {
    width: 158px;
    height: 70px;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}
@media screen and (min-width: 768px) {
  .header__menu {
    padding: 24px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu {
    margin-right: 51px;
  }
}
.header__button {
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1280px) {
  .header__button {
    display: none;
  }
}
.header__button:focus {
  color: #f3848c;
}
.header__svg {
  display: block;
  fill: currentColor;
  transition: fill 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__svg[open=true] {
  display: none;
}
.header__svg[close=true] {
  display: none;
}
@media screen and (max-width: 1279.98px) {
  .header__box-menu {
    transform: translate(-101%, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    overflow: auto;
  }
}
@media screen and (max-width: 1279.98px) {
  .header__box-menu.open {
    padding: 8px 10px;
    transform: translate(0, 0);
    background-size: cover;
    background-color: #e5e2e3;
    background-image: url("../images/donuts-bg-mobile.png");
  }
}
@media screen and (max-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1279.98px) and (min-resolution: 192dpi), screen and (max-width: 1279.98px) and (min-resolution: 2dppx) {
  .header__box-menu.open {
    background-image: url("../images/donuts-bg-mobile@2x.png");
  }
}
.header__list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 112px;
}
@media screen and (min-width: 768px) {
  .header__list {
    padding-top: 140px;
  }
}
@media screen and (min-width: 1280px) {
  .header__list {
    flex-direction: row;
    padding-top: 0;
  }
}
.header__link {
  display: inline-block;
  color: #3c322d;
  padding: 10px 28px;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0em;
}
@media screen and (min-width: 1280px) {
  .header__link {
    padding: 4px 8px;
  }
}
.header__link:hover, .header__link:focus {
  color: #ffffff;
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63), rgba(253, 86, 143, 0.86) 100%);
}

.container--upper {
  max-width: 320px;
  width: 100%;
  padding-top: 86px;
  padding-bottom: 8px;
  margin: 0 auto;
}
@media screen and (max-width: 767.98px) {
  .container--upper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .container--upper {
    margin: 0;
    max-width: 768px;
    padding-top: 98px;
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 1280px) {
  .container--upper {
    max-width: 1280px;
    padding-top: 170px;
    padding-bottom: 90px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  background-color: #f3848c;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.4509803922);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0em;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1), border 0.4s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: #f3848c;
  background-color: #ffffff;
}
.button:active {
  background-color: #f3848c;
  color: #ffffff;
  border: 1px solid #f3848c;
  box-shadow: 0px 4px 4px 0px rgba(107, 66, 66, 0.2509803922) inset;
}

.hero {
  background-image: url("../images/hero/glazed-donuts-in-boxes-mobile.jpg");
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-desktop.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-desktop@2x.jpg");
  }
}
.hero__head {
  width: 280px;
  font-family: Montserrat Alternates;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: -0.03em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__head {
    width: 320px;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero__head {
    width: 758px;
    font-size: 60px;
    line-height: 1.08;
  }
}
.hero__text {
  padding-top: 18px;
  padding-bottom: 28px;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__text {
    padding-top: 10px;
    padding-bottom: 24px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    padding-top: 20px;
    padding-bottom: 28px;
    font-size: 24px;
    line-height: 1.2;
  }
}

.socials {
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.socials__icon {
  transition: fill 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: #f3848c;
}
.socials--upper {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .socials--upper {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .socials--upper {
    margin-top: 32px;
  }
}

<<<<<<< HEAD
.about {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    margin-top: 64px;
  }
}
.about__container {
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .about__container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    gap: 32px;
  }
}
.about__image-box {
  display: flex;
  align-items: center;
}
.about__image {
  width: 280px;
  border-radius: 24px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about__image {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    width: 608px;
  }
}
.about__head {
  margin-bottom: 8px;
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .about__head {
    margin-top: 28px;
  }
}
@media screen and (min-width: 768px) {
  .about__head {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: left;
  }
}
.about__text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: left;
}
.about__text:not(:last-child) {
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 18px;
    line-height: 1.22;
=======
.speakers__heder {
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .speakers__heder {
    font-size: 32px;
    line-height: 39px;
  }
}
.speakers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .speakers__list {
    gap: 32px;
  }
}
.speakers__item {
  flex-basis: calc((100% - 20px) / 2);
}
@media screen and (min-width: 768px) {
  .speakers__item {
    flex-basis: calc((100% - 96px) / 4);
  }
}
.speakers__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .speakers__name {
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
  }
}
.speakers__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .speakers__text {
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .speakers__text {
    font-size: 16px;
    line-height: 20px;
>>>>>>> 4781c6c949c99a89117bd0e2863880b64cc1f1eb
  }
}/*# sourceMappingURL=index.css.map */