@import '~node_modules/modern-normalize/modern-normalize.css';
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #3C322D;
  margin: 0;
  background-image: url("../images/donuts-bg-mobile.png"), linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url("../images/donuts-bg-mobile@2x.png"), linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url("../images/donuts-bg-desktop.png"), linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/donuts-bg-desktop@2x.png"), linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.section {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 100px;
  }
}

.container {
  width: 100%;
  max-width: 320px;
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-inline: 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-inline: 16px;
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea {
  resize: none;
}

.container--upper {
  max-width: 320px;
  width: 100%;
  padding-top: 86px;
  padding-bottom: 8px;
  margin: 0 auto;
}
@media screen and (max-width: 767.98px) {
  .container--upper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .container--upper {
    margin: 0;
    max-width: 768px;
    padding-top: 98px;
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 1280px) {
  .container--upper {
    max-width: 1280px;
    padding-top: 170px;
    padding-bottom: 90px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  background-color: #F3848C;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.4509803922);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0em;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1), border 0.4s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: #F3848C;
  background-color: #FFFFFF;
}
.button:active {
  background-color: #F3848C;
  color: #FFFFFF;
  border: 1px solid #F3848C;
  box-shadow: 0px 4px 4px 0px rgba(107, 66, 66, 0.2509803922) inset;
}

.hero {
  background-image: url("../images/hero/glazed-donuts-in-boxes-mobile.jpg");
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-desktop.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/glazed-donuts-in-boxes-desktop@2x.jpg");
  }
}
.hero__head {
  width: 280px;
  font-family: Montserrat Alternates;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: -0.03em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__head {
    width: 320px;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero__head {
    width: 758px;
    font-size: 60px;
    line-height: 1.08;
  }
}
.hero__text {
  padding-top: 18px;
  padding-bottom: 28px;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__text {
    padding-top: 10px;
    padding-bottom: 24px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    padding-top: 20px;
    padding-bottom: 28px;
    font-size: 24px;
    line-height: 1.2;
  }
}

.socials {
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.socials__icon {
  transition: fill 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: #F3848C;
}
.socials--upper {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .socials--upper {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .socials--upper {
    margin-top: 32px;
  }
}/*# sourceMappingURL=index.css.map */