$main-text-color: #3c322d;
$menu-color: #e5e2e3;
$price-color: #fafbfb;
$selection-color: #f3848c;
$placeholder-color: rgba(0, 0, 0, 0.5);
$white-color: #ffffff;

$timing-function: 0.4s cubic-bezier(0.4, 0, 0.2, 1);

$pre-mobile: 319.98px;
$mobile: 320px;
$pre-tablet: 767.98px;
$tablet: 768px;
$pre-desktop: 1279.98px;
$desktop: 1280px;
