<header class="header">
  <div class="header__container">
    <div class="header__menu">
      <a class="header__link-logo" href="#">
        <svg class="header__svg-logo">
          <use href="./images/svg/icons.svg#logo"></use>
        </svg>
      </a>
      <button data-toggle-menu class="header__button">
        <svg open="false" class="header__svg" width="32" height="32">
          <use href="./images/svg/icons.svg#menu"></use>
        </svg>
        <svg close="true" class="header__svg" width="32" height="32">
          <use href="./images/svg/icons.svg#close"></use>
        </svg>
      </button>
    </div>
    <div data-menu class="header__box-menu">
      <ul class="header__list">
        <li class="header__item">
          <a aria-label="to about us section" href="#about-us" class="header__link">About us</a>
        </li>
        <li class="header__item">
          <a aria-label="to program section" href="#program" class="header__link">Program</a>
        </li>
        <li class="header__item">
          <a aria-label="to speaker section" href="#speaker" class="header__link">Speaker</a>
        </li>
        <li class="header__item"><a aria-label="to price section" href="#price" class="header__link">Price</a></li>
        <li class="header__item">
          <a aria-label="to reviews section" href="#reviews" class="header__link">Reviews</a>
        </li>
        <li class="header__item">
          <a aria-label="to contact section" href="#contact" class="header__link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
