<header>
  <a  href="#">
    <svg width="106" height="46">
      <use href="./images/svg/icons.svg#logo"></use>
    </svg>
  </a>
  <button>
    <svg width="32" height="32">
      <use href="./images/svg/icons.svg#menu"></use>
    </svg>
  </button>
  <div>
    <button>
      <svg width="32" height="32">
        <use href="./images/svg/icons.svg#close"></use>
      </svg>
    </button>
    <ul>
      <li>About us</li>
      <li>Program</li>
      <li>Speaker</li>
      <li>Price</li>
      <li>Reviws</li>
      <li>Contact</li>
    </ul>
  </div>
</header>
