<section>
  <h1>Donut Masterclass with the Donut King</h1>
  <p>Hosted by Eva Green</p>
  <a href="#registration">Register</a>
  <ul>
    <li>
      <a href="#">
        <svg width="16" height="16">
          <use href="./images/svg/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg width="16" height="16">
          <use href="./images/svg/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg width="16" height="16">
          <use href="./images/svg/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
