<section id="price" class="section price">
  <div class="container">
    <h2 class="price__head">Price</h2>
    <ul class="price__list-box">
      <li class="price__item">
        <h3 class="price__subscription">Easy start</h3>
        <ul class="price__list-line">
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">features of yeast dough preparation</p>
          </li>

          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">preparation of liquid caramel for stuffing</p>
          </li>

          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">preparation of raspberry and strawberry filling</p>
          </li>

          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">fry and glaze donuts</p>
          </li>
        </ul>
        <a class="button" aria-label="to registration section" href="#registration">Register</a>
      </li>
      <li class="price__item">
        <h3 class="price__subscription">I want delicious donuts</h3>
        <ul class="price__list-line">
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">features of yeast dough preparation</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">preparation of liquid caramel for stuffing</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">preparation of raspberry and strawberry filling</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">melt chocolate for decoration</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">fry and glaze donuts</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">donut decoration. painting and various techniques</p>
          </li>
        </ul>
        <a class="button" aria-label="to registration section" href="#registration">Register</a>
      </li>
      <li class="price__item">
        <h3 class="price__subscription">Premium</h3>
        <ul class="price__list-line">
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">features of yeast dough preparation</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">preparation of liquid caramel for stuffing</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">preparation of raspberry and strawberry filling</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">melt chocolate for decoration</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">fry and glaze donuts</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">donut decoration. painting and various techniques</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">After party and donut tasting with speakers</p>
          </li>
          <li class="price__line">
            <svg class="price__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#chef"></use>
            </svg>
            <p class="price__text">2 private lessons with one of the speakers</p>
          </li>
        </ul>
        <a class="button" aria-label="to registration section" href="#registration">Register</a>
      </li>
    </ul>
  </div>
</section>
