<section class="program section" id="program">
  <div class="container program__container">
    <div class="program__text-box">
      <h2 class="program__head">Program</h2>
      <p class="program__text">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!
      </p>
      <ul class="program__list">
        <li class="program__item">
          <p class="program__text">A stand up history of donuts</p>
        </li>
        <li class="program__item">
          <p class="program__text">Make 3 donut flavors of your choice</p>
        </li>
        <li class="program__item">
          <p class="program__text">Enjoy all-you-can-eat donuts</p>
        </li>
        <li class="program__item">
          <p class="program__text">Cocktail pairings and coffee included</p>
        </li>
        <li class="program__item">
          <p class="program__text">Photoshoot by professional photographer</p>
        </li>
        <li class="program__item">
          <p class="program__text">Secret receipt of cooking from Eva</p>
        </li>
        <li class="program__item">
          <p class="program__text">All products are included in the price</p>
        </li>
      </ul>
      <div class="program__shown-content">
        <input type="checkbox" id="program-shown-content-input" class="program__shown-content-input" />
        <p class="program__text program__shown-content-text">
          Come with your dear people and friends and you will spend an unforgettable time and will become a real
          professional in donuts cooking!
        </p>
        <label class="program__shown-content-label" for="program-shown-content-input">
          <span class="program__shown-content-open-text">Read more</span>
          <span class="program__shown-content-close-text">Read less</span>
        </label>
      </div>
    </div>
    <div class="program__image-box">
      <ul class="program__image-list program__image-list--left">
        <li class="program__image-item">
          <img
            class="program__image"
            srcset="./images/program/type-of-the-event.jpg 1x, ./images/program/type-of-the-event@2x.jpg 2x"
            src="./images/program/type-of-the-event.jpg"
            alt="Chef preparing donuts in the kitchen"
          />
          <div class="program__image-overlay">
            <h3 class="program__image-head">Type of the event</h3>
            <p class="program__image-text">Cooking classes</p>
          </div>
        </li>
        <li class="program__image-item">
          <img
            class="program__image"
            srcset="./images/program/time-of-the-event.jpg 1x, ./images/program/time-of-the-event@2x.jpg 2x"
            src="./images/program/time-of-the-event.jpg"
            alt="Crazy chef worried expression"
          />
          <div class="program__image-overlay">
            <h3 class="program__image-head">Time of the event</h3>
            <p class="program__image-text">18:30 (2.5 hours)</p>
          </div>
        </li>
      </ul>
      <ul class="program__image-list program__image-list--right">
        <li class="program__image-item">
          <img
            class="program__image"
            srcset="./images/program/number-of-guests.jpg 1x, ./images/program/number-of-guests@2x.jpg 2x"
            src="./images/program/number-of-guests.jpg"
            alt="Charming women decorating desserts"
          />
          <div class="program__image-overlay">
            <h3 class="program__image-head">Number of guests</h3>
            <p class="program__image-text">1 to 20</p>
          </div>
        </li>
        <li class="program__image-item">
          <img
            class="program__image"
            srcset="./images/program/the-host-speaks.jpg 1x, ./images/program/the-host-speaks@2x.jpg 2x"
            src="./images/program/the-host-speaks.jpg"
            alt="Business woman giving a lecture"
          />
          <div class="program__image-overlay">
            <h3 class="program__image-head">The host speaks</h3>
            <p class="program__image-text">English, French</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
