<section class="reviews section">
  <div class="container">
    <h2 class="reviews__head">Reviews</h2>
    <div class="reviews__top-slider top-slider">
      <div class="slider reviews__profile">
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/will-1280.png 1x, ./images/reviews/will-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/will-768.png 1x, ./images/reviews/will-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/will-480.png 1x, ./images/reviews/will-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/will-1280.png"
              alt="Young businessman walking on the street"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Will</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/elizabeth-1280.png 1x, ./images/reviews/elizabeth-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/elizabeth-768.png 1x, ./images/reviews/elizabeth-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/reviews/elizabeth-480.png 1x, ./images/reviews/elizabeth-480@2x.png 2x"
              type="image/png"
            />
            <img
              class="reviews__image"
              src="./images/reviews/elizabeth-1280.png"
              alt="Portrait of beautiful smiling cute model female dressed in warm hipster white sweater and hat posing near wall in the street funny and positive woman hugging herself"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Elizabeth</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/john-1280.png 1x, ./images/reviews/john-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/john-768.png 1x, ./images/reviews/john-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/john-480.png 1x, ./images/reviews/john-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/john-1280.png"
              alt="Closeup shot of a handsome male smiling"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate4"></use></svg>
          <p class="reviews__name">John</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/will-1280.png 1x, ./images/reviews/will-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/will-768.png 1x, ./images/reviews/will-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/will-480.png 1x, ./images/reviews/will-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/will-1280.png"
              alt="Young businessman walking on the street"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Will</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/elizabeth-1280.png 1x, ./images/reviews/elizabeth-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/elizabeth-768.png 1x, ./images/reviews/elizabeth-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/reviews/elizabeth-480.png 1x, ./images/reviews/elizabeth-480@2x.png 2x"
              type="image/png"
            />
            <img
              class="reviews__image"
              src="./images/reviews/elizabeth-1280.png"
              alt="Portrait of beautiful smiling cute model female dressed in warm hipster white sweater and hat posing near wall in the street funny and positive woman hugging herself"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Elizabeth</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/john-1280.png 1x, ./images/reviews/john-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/john-768.png 1x, ./images/reviews/john-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/john-480.png 1x, ./images/reviews/john-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/john-1280.png"
              alt="Closeup shot of a handsome male smiling"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate4"></use></svg>
          <p class="reviews__name">John</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/will-1280.png 1x, ./images/reviews/will-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/will-768.png 1x, ./images/reviews/will-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/will-480.png 1x, ./images/reviews/will-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/will-1280.png"
              alt="Young businessman walking on the street"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Will</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/elizabeth-1280.png 1x, ./images/reviews/elizabeth-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/elizabeth-768.png 1x, ./images/reviews/elizabeth-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/reviews/elizabeth-480.png 1x, ./images/reviews/elizabeth-480@2x.png 2x"
              type="image/png"
            />
            <img
              class="reviews__image"
              src="./images/reviews/elizabeth-1280.png"
              alt="Portrait of beautiful smiling cute model female dressed in warm hipster white sweater and hat posing near wall in the street funny and positive woman hugging herself"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Elizabeth</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/john-1280.png 1x, ./images/reviews/john-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/john-768.png 1x, ./images/reviews/john-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/john-480.png 1x, ./images/reviews/john-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/john-1280.png"
              alt="Closeup shot of a handsome male smiling"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate4"></use></svg>
          <p class="reviews__name">John</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/will-1280.png 1x, ./images/reviews/will-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/will-768.png 1x, ./images/reviews/will-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/will-480.png 1x, ./images/reviews/will-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/will-1280.png"
              alt="Young businessman walking on the street"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Will</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/elizabeth-1280.png 1x, ./images/reviews/elizabeth-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/elizabeth-768.png 1x, ./images/reviews/elizabeth-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/reviews/elizabeth-480.png 1x, ./images/reviews/elizabeth-480@2x.png 2x"
              type="image/png"
            />
            <img
              class="reviews__image"
              src="./images/reviews/elizabeth-1280.png"
              alt="Portrait of beautiful smiling cute model female dressed in warm hipster white sweater and hat posing near wall in the street funny and positive woman hugging herself"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Elizabeth</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/john-1280.png 1x, ./images/reviews/john-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/john-768.png 1x, ./images/reviews/john-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/john-480.png 1x, ./images/reviews/john-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/john-1280.png"
              alt="Closeup shot of a handsome male smiling"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate4"></use></svg>
          <p class="reviews__name">John</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/will-1280.png 1x, ./images/reviews/will-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/will-768.png 1x, ./images/reviews/will-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/will-480.png 1x, ./images/reviews/will-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/will-1280.png"
              alt="Young businessman walking on the street"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Will</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/elizabeth-1280.png 1x, ./images/reviews/elizabeth-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/elizabeth-768.png 1x, ./images/reviews/elizabeth-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/reviews/elizabeth-480.png 1x, ./images/reviews/elizabeth-480@2x.png 2x"
              type="image/png"
            />
            <img
              class="reviews__image"
              src="./images/reviews/elizabeth-1280.png"
              alt="Portrait of beautiful smiling cute model female dressed in warm hipster white sweater and hat posing near wall in the street funny and positive woman hugging herself"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate5"></use></svg>
          <p class="reviews__name">Elizabeth</p>
        </div>
        <div class="slick-slide">
          <picture>
            <source
              srcset="./images/reviews/john-1280.png 1x, ./images/reviews/john-1280@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/john-768.png 1x, ./images/reviews/john-768@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <source srcset="./images/reviews/john-480.png 1x, ./images/reviews/john-480@2x.png 2x" type="image/png" />
            <img
              class="reviews__image"
              src="./images/reviews/john-1280.png"
              alt="Closeup shot of a handsome male smiling"
            />
          </picture>
          <svg class="reviews__icon" width="136" height="24"><use href="./images/svg/icons.svg#rate4"></use></svg>
          <p class="reviews__name">John</p>
        </div>
      </div>
    </div>
    <div class="reviews__bottom-slider bottom-slider">
      <div class="slider reviews__comment">
        <div class="slick-slide">
          <p class="reviews__text">
            1 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            2 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            3 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            4 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            5 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            6 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            7 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            8 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            9 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            10 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            11 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            12 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            13 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            14 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
        <div class="slick-slide">
          <p class="reviews__text">
            15 Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
            people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
            everyone!
          </p>
        </div>
      </div>
    </div>
    <div class="reviews__slider-nav">
      <button type="button" class="reviews__slider-butt reviews__slider-butt--prev">
        <div class="reviews__slider-butt--color"></div>
      </button>
      <div class="reviews__slide-info slide-info"></div>
      <button type="button" class="reviews__slider-butt reviews__slider-butt--next">
        <div class="reviews__slider-butt--color"></div>
      </button>
    </div>
  </div>
</section>
