<section id="speakers" class="section speakers">
  <div class="container">
    <h2 class="speakers__heder">Speakers</h2>
    <ul class="speakers__list">
      <li class="speakers__item">
        <picture>
          <source
            srcset="./images/speakers/pastry-chef-desktop.png 1x, ./images/speakers/pastry-chef-desktop@2x.png 2x"
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/speakers/pastry-chef-tablet.png 1x, ./images/speakers/pastry-chef-tablet@2x.png 2x"
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/speakers/pastry-chef-mobile.png 1x, ./images/speakers/pastry-chef-mobile@2x.png 2x"
            type="image/png"
          />
          <img
            src="./images/speakers/pastry-chef-desktop.png"
            alt="front view female confectioner in white wear holding delicious pastries smiling on pink wall confectionery sweet pastry job work removebg preview"
          />
        </picture>
        <h3 class="speakers__name">Molly Rivera</h3>
        <p class="speakers__text">Pastry chef, master chocolatier of Spain</p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/speakers/culinary-school-pastry-chef-desktop.png    1x,
              ./images/speakers/culinary-school-pastry-chef-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/speakers/culinary-school-pastry-chef-tablet.png    1x,
              ./images/speakers/culinary-school-pastry-chef-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/speakers/culinary-school-pastry-chef-mobile.png    1x,
              ./images/speakers/culinary-school-pastry-chef-mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/speakers/culinary-school-pastry-chef-desktop.png"
            alt="professional smiling confectioner wrapping a box with cookies removebg preview"
          />
        </picture>
        <h3 class="speakers__name">Sophia Clark</h3>
        <p class="speakers__text">Сulinary school pastry chef</p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/speakers/consultant-in-the-art-of-confectionery-desktop.png    1x,
              ./images/speakers/consultant-in-the-art-of-confectionery-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/speakers/consultant-in-the-art-of-confectionery-tablet.png    1x,
              ./images/speakers/consultant-in-the-art-of-confectionery-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/speakers/consultant-in-the-art-of-confectionery-mobile.png    1x,
              ./images/speakers/consultant-in-the-art-of-confectionery-mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/speakers/consultant-in-the-art-of-confectionery-desktop.png"
            alt="portrait of young beautiful woman with sweets over blue wallremovebg preview"
          />
        </picture>
        <h3 class="speakers__name">Isabella Taylor</h3>
        <p class="speakers__text">Сonsultant in the art of confectionery</p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/speakers/master-chocolatier-desktop.png    1x,
              ./images/speakers/master-chocolatier-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/speakers/master-chocolatier-tablet.png    1x,
              ./images/speakers/master-chocolatier-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/speakers/master-chocolatier-mobile.png    1x,
              ./images/speakers/master-chocolatier-mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/speakers/master-chocolatier-desktop.png"
            alt="lady smiles at the camera confectioner cooks in the kitchen cook is resting removebg preview"
          />
        </picture>
        <h3 class="speakers__name">Evelyn Miller</h3>
        <p class="speakers__text">Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
