<section class="section">
  <div class="container">
    <h1>Speakers</h1>
    <ul class="speakers__list">
      <li class="speakers__item">
        <picture>
          <source
            srcset="./images/speakers/pastry-chef-desktop.png 1x, ./images/speakers/pastry-chef-desktop@2x.png 2x"
            type="image/png"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/speakers/pastry-chef-tablet.png 1x, ./images/speakers/pastry-chef-tablet@2x.png 2x"
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/speakers/pastry-chef-mobile.png 1x, ./images/speakers/pastry-chef-mobile@2x.png 2x"
            type="image/png"
          />
          <img
            src="./images/speakers/pastry-chef-desktop.png"
            alt="front view female confectioner in white wear holding delicious pastries smiling on pink wall confectionery sweet pastry job work removebg preview"
          />
        </picture>
        <h3>Molly Rivera</h3>
        <p>Pastry chef, master chocolatier of Spain</p>
      </li>
      <li class="speakers__item">
        <picture> </picture>
        <h3>Sophia Clark</h3>
        <p>Сulinary school pastry chef</p>
      </li>
      <li class="speakers__item">
        <picture> </picture>
        <h3>Isabella Taylor</h3>
        <p>Сonsultant in the art of confectionery</p>
      </li>
      <li class="speakers__item">
        <picture> </picture>
        <h3>Evelyn Miller</h3>
        <p>Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
