.contact{
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &:invalid button {
      pointer-events: none;
      border-color: #ffd1d4bd;
      background-color: #ffd1d4bd;
    }
  }

  &__head{
    margin-bottom: 28px;

    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;

    @media screen and (min-width: $tablet) {
      font-size: 32px;
    }
  }

  &__text{
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0em;
    text-align: center;

    @media screen and (min-width: $tablet) {
      margin-bottom: 28px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__label{
    &:not(:last-child){
      margin-bottom: 20px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 16px;
      }
    }
  }

  &__input{  
    width: 280px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid $main-text-color;

    &::placeholder{
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0em;
      text-align: left;
    }

    &:not(:placeholder-shown):focus {
      border-bottom-color: orange;
    }
  
    &:not(:placeholder-shown):invalid:not(:focus) {
      border-bottom-color: red;
    }
  
    &:not(:placeholder-shown):valid:not(:focus) {
      border-bottom-color: green;
    }

    @media screen and (min-width: $tablet) {
      width: 336px;
    }

    @media screen and (min-width: $desktop) {
      width: 394px;
    }
  }

  &__button{
    margin-bottom: 28px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 38px;
    }
  }
}