.price {
  &__head {
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 28px;
    @media screen and (min-width: $tablet) {
      font-size: 32px;
      line-height: 1.21;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 28px;
    }
  }
  &__subscription {
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    text-align: center;
    margin: 20px 0;
    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.2;
      margin: 28px 0 40px;
    }
  }
}
