.program{
  &__container{
    display: flex;

    @media screen and (max-width: $pre-tablet) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: $tablet) {
      gap: 38px;
    }

    @media screen and (min-width: $desktop) {
      gap: 118px;
    }
  }

  &__text-box{
    @media screen and (max-width: $pre-tablet) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: $tablet) {
      width: 330px;
    }

    @media screen and (min-width: $desktop) {
      width: 418px;
    }
  }

  &__head{
    margin-bottom: 8px;

    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;

    @media screen and (min-width: $tablet) {
      margin-bottom: 28px;

      font-size: 32px;
      line-height: 1.21;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
    }
  }

  &__text{
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0em;
      text-align: left;

      @media screen and (min-width: $desktop) {
        font-size: 18px;
        line-height: 1.22;
      }
  }

  &__list{
    margin: 8px 0px 14px;

    @media screen and (min-width: $tablet) {
      margin: 12px 0px 30px;
    }

    @media screen and (min-width: $desktop) {
      margin: 20px 0px;
    }
  }

  &__item{
    display: flex;
    
    &::before{
      content: "";
      background: url(../images/svg/chef.svg);
      background-position: 50%;
      background-repeat: no-repeat;
      margin-right: 8px;
      padding: 12px;
    }

    &:not(:last-child){
      margin-bottom: 8px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 12px;
      }

      @media screen and (min-width: $desktop) {
        margin-bottom: 16px;
      }
    }
  }

  &__shown-content {
  display: flex;
  flex-direction: column;

  &-input{
    appearance: none;

    &:checked + .program__shown-content-text{
      display: block;
    }

    &:checked ~ .program__shown-content-label .program__shown-content-close-text{
      display: block;
    }

    &:checked ~ .program__shown-content-label .program__shown-content-open-text{
      display: none;
    }
  }

  &-text{
    display: none;

    @media screen and (max-width: $pre-desktop) {
      margin-bottom: 18px;
    }

    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &-label{

    &:hover,
    &:focus {
        color: $selection-color;
    }
    
    transition: color $timing-function;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &-close-text{
    display: none;
  }

  &-close-text,
  &-open-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0em;

    @media screen and (min-width: $tablet) {
      font-size: 18px;
      line-height: 1.2;
    }
  }
  }

  &__image-box{
    display: flex;
    gap: 20px;

    @media screen and (min-width: $tablet) {
      gap: 32px;
    }

    @media screen and (min-width: $desktop) {
      gap: 138px;
    }
  }

  &__image-list{
    &--right{
      padding-top: 20px;

    @media screen and (min-width: $tablet) {
      padding-top: 40px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 60px;
    }
    }

    &--left{
      padding-bottom: 20px;
      
      @media screen and (min-width: $tablet) {
        padding-bottom: 40px;
      }
    
      @media screen and (min-width: $desktop) {
        padding-bottom: 60px;
      }
    }
  }

  &__image-item{
    width: 130px;

    @media screen and (min-width: $tablet) {
      width: 152px;
    }

    @media screen and (min-width: $desktop) {
      width: 288px;
    }
    &:first-child{
      margin-bottom: 28px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 40px;
      }
    }
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(156, 156, 156, 0) 43.4%, #000 112%);
    }
    
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $selection-color;
    box-shadow: 10px 15px 25px 0px rgba(210, 201, 201, 0.45);
  }

  &__image-overlay{
    position: absolute;
    width: 100%;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%);

    @media screen and (min-width: $desktop) {
      bottom: 32px;
    }

    color: $white-color;
  }

  &__image-head{
    margin-bottom: 8px;

    font-family: Montserrat Alternates;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: center;

    @media screen and (min-width: $tablet) {
      margin-bottom: 16px;

      font-size: 16px;
      line-height: 1.25;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;

      font-size: 24px;
      line-height: 1.2;
    }
  }

  &__image-text{
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0em;
    text-align: center;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 1.21;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}